* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body { 
  background-color: #f4f1ea; /* Fondo crema basado en el login */ 
}